.App {
  text-align: center;
  font-family: sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  font-size: .6em;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}
.btn:hover {
  background-color: #0056b3;
}

.App-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-content: flex-end; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

section {
  padding: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* display: grid;
  place-items: center; */
  /* height: 100vh; */
  font-size: 32px;
  font-weight: bold;
}


h1 {
  color: #0096FF;
  font-size: 40px;
}

h2{
  font-size: 30px;
}

p {
  font-size: 14px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Headshot {
  border-radius: 50px;

}

.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
  transform: translateY(-8px);
}